@font-face{
    font-family:"Assistant-ExtraBold";
    src: local("Assistant"),url("./components/assets/fonts/Assistant/static/Assistant-ExtraBold.ttf") format("truetype");
}

@font-face{
    font-family:"Assistant-SemiBold";
    src: local("Assistant"),url("./components/assets/fonts/Assistant/static/Assistant-SemiBold.ttf") format("truetype");
}

@font-face{
    font-family:"Assistant-Bold";
    src: local("Assistant"),url("./components/assets/fonts/Assistant/static/Assistant-Bold.ttf") format("truetype");
}

@font-face{
    font-family:"Assistant-Regular";
    src: local("Assistant"),url("./components/assets/fonts/Assistant/static/Assistant-Regular.ttf") format("truetype");
}
